@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf);
    font-weight: normal;
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e; 
    --fonte-padrao: Arial,Verdana,Helvetica, sans-serif ;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android';

}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
    

}
header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
    padding-bottom: 20px;
    
}
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
main p{
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    text-indent: 30px;
    line-height: 1.5em;
}
main strong{
    font-weight: bold;
    color: var(--cor4);
    
}
 main a{
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
    background-color: var(--cor1);
    text-decoration: none;
}
main  a:hover{
    color: var(--cor5);
    background-color: var(--cor3);
    text-decoration: underline;
    
}


main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.384);
}

main  h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2),transparent );
    text-indent: 8px;
    font-weight: normal;
    font-size: 1.3em;
}
nav > a {
    color:white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav  a:hover{
    color: var(--cor5);
    background-color: var(--cor2);
    text-decoration: underline;
    
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.308);
}
aside > ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px  ;
    border-radius: 10px 10px 0px 0px;
}
a.externo::after {
    content:'\00a0\1f517';
}
div.video{
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px ;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

footer{
    background-color: var(--cor5);
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: auto;
    font-size: 0.8em;
    text-align: center;
}
footer > a{
    color: white;
    text-decoration: none;
}
footer > a:hover {
    text-decoration: underline;
    color: var(--cor1);
}




